* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 15px;
  text-shadow: 0 1px #efefef, 0 2px #efefef, 0 3px #efefef, 0 4px #efefef,
    0 30px 5px rgba(0, 0, 0, 0.1);
}

h2{
  color: #eb0c0c;
}
section {
  align-items: center;
}
.gameArea {
  width: 50%;
  height: 400px;
  padding: 20px 0;
  background-color: #C90005;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
    margin:auto;
}
h3 {
  text-align: center;
  font-size: 1.5rem;

}
p{
  box-shadow: 0 8px 6px -6px black;
  color: rgb(168, 99, 8);
}
input {
  width: 40%;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #dff9fb;
  color: black;
  margin: 2rem 0;
  font-size: 1.1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

button {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: #2f3542;
  text-decoration: none;
  margin-top: 10px;
  color: #eb4d4b;
  border: radius 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

button.btn {
  font-weight: 600;
  padding: 1rem 2rem;
  background: white;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
button.btn:hover,
button.btn:focus,
button.btn:active {
  letter-spacing: 0.125rem;
  word-spacing: 0.2rem;
}

.hidden {
  display: none;
}
